.dct-comment-card {
    background-color: var(--dct-color-bg-primary);
    border: 1px solid var(--dct-color-card-border);
    border-radius: 12px;
    margin-bottom: 25px;
    text-align: left;
    padding: 20px 25px;
}

.dct-comment-card p {
    color: var(--dct-color-font-primary);
    font-weight: 400;
    font-size: 16px;
}


@media (min-width: 576px) {
    .dct-comment-card p {
        font-size: 20px;
    }

}